/* CSS used only in applet */
#config_choices {
  margin-top: .20vh;
}

.left-column-panel {
  background-color: #E1E1E1;
  border-radius: 8px;
}

.optcard {
  background-color: #E1E1E1;
  border-radius: 8px;
  min-height: 100px;
  min-width: 250px;
  padding: 0.5em 1em;
  margin-bottom: 1.0em;
  margin-right: 1.0em;
  max-width: 300px;
  display: inline-block;
}
