/* CSS used only in applet */
#config_choices {
  margin-top: .20vh;
}

/* Defines the sidebar for the applet */
.shinysc-sidebar-panel {
  background-color: #E1E1E1;
  border-radius: 8px;
  /* Defines max height of panel and creates a scrollbar when this is exceeded */
  overflow-y: auto;
  /* Setting the bottom margin to 0 allows for */
  max-height: 90vh;
  margin-bottom: 0px;
}

/* Defines the main panel */
.shinysc-main-panel {
  overflow-y: auto;
  overflow-x: auto;
  max-height: 85vh;
}

.optcard {
  background-color: #E1E1E1;
  border-radius: 8px;
  min-height: 150px;
  width: 450px;
  padding: 0.5em 1em;
  margin-bottom: 1.0em;
  margin-right: 1.0em;
  display: inline-block;
}

/* Make multi-select fill the page */
.multi-wrapper
.non-selected-wrapper,
.multi-wrapper .selected-wrapper {
  /* Defining hieghts in terms of viewport height didn't work here; don't know why */
  height: 685px;
  /* Displays scrollbars only when necessary (default is to display always)*/
  overflow-y: auto;
}

/* Class used for the buttons to remove fields when defining
categories of metadata values */
.x-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0px;
}

/* Properties for "X" icon within button */
.x-button > i {
  /* vertical-align for Font Awesome icons has a default value of 'baseline'
     which will make elements appear off-center. Setting this property to
     'middle' will center the icon. */
  vertical-align: middle;
  /* Increase size of "X"*/
  font-size: 19px;
}
