/******************************************************************************/
/* CSS for Primary Button */
.button-primary{
  background-color: var(--mid-blue);
  color: #FFFFFF;
  border-color: var(--markdown-blue);
  border-radius: var(--button-border-radius);
}

.button-primary:hover{
  background-color: var(--mid-blue-hover);
}

.button-primary:active{
  background-color: var(--mid-blue-active);
}

/******************************************************************************/
/* Secondary (ghost) button */
.button-ghost{
  background-color: #FFFFFF;
  color: #000000;
  border-color: var(--markdown-blue);
  border-radius: var(--button-border-radius);
}

.button-ghost:hover{
  border-color: var(--mid-blue-hover);
}

.button-ghost:active{
  border-color: var(--mid-blue-active);
}

/* CSS for styling the help button and its dropdown menu*/
#help {
  z-index: 1200; /* Navbar has a z-index of 1,000 */
  position: absolute;
}

/* CSS for options button (ellipsis symbol) */
#options {
  z-index: 1200; /* Navbar has a z-index of 1,000 */
  position: absolute;
  background-color: #ED872D;
  color: #FFFFFF;
  border-color: #F06810;
}

/* Hover style for options button */
#options:hover {
  background-color: #DE7F2C;
  border-color: #DC600C;
}

/* CSS for division elements that contain the help and options button */
/* Explicit specification of width and height to match the dimensions of the
   button inside (35 px, set by shiny for a size = "sm" dropDownButton) */
.btn-container {
  width: 35px;
  height: 35px;
}

/* Help dropdown */
#dropdown-menu-help {
  z-index: 1201;
  top: 50px;
  font-size: 1.17em;
  /* Define a minimum width for the help dropdown menu to improve visuals */
  min-width: 220px;
}

#dropdown-menu-options {
  z-index: 1201;
  top: 50px;
  font-size: 1.17em;
  /* Define a minimum width for the help dropdown menu to improve visuals */
  min-width: 220px;
}

/* CSS properties for links. These are default for links in the dropdown menu
   that are not wrapped in the introBox()*/
/* (Default styles apply to the hierarchy dropdown-menu>li>a, but not to
   dropdown-menu>li>div>a (introBox adds div tag))*/
/* The blue_hover class must be added to apply style of neighboring links to
   links wrapped in introBox() */
.blue_hover {
	display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
  }

/* Style for hovering over links */
/* For links not wrapped in a help box, the default CSS for
   dropdown-menu>li>div>a will override blue_hover.*/
/* !Important ensures that the non-default properties below are applied. */
.blue_hover:hover{
	background-color: #31B0D5AA !important;
	border-radius: 7px !important;
	/* text-decoration defaults to none (no underline) for dropdown
     links outside the introBox()*/
	text-decoration: none;
}

/* CSS that applies when link is clicked*/
/* Must specify to override default color and text decoration properties*/
/* CSS below restores properties to the "normal" state */
.blue_hover:focus{
	color: #333;
	text-decoration: none;
}

/******************************************************************************/
/* Download Button for Plots */
/* Use selectors to apply styles below to dropDownButton wrapped in div with
   .plot-download-button class*/
.plot-download-button > div > button {
  width: 80px !important;
  border-radius: 15px !important;
  background-color: var(--mid-blue) !important;
  border-color: #333BE6 !important;
}

.plot-download-button > div > button:hover {
  background-color: var(--mid-blue-hover) !important;
}

.plot-download-button > div > button.btn:active {
  background-color: var(--mid-blue-active) !important;
}
