/* CSS variables used for app */
:root{
  /* Color 1: Dark blue (appears purple-gray) */
  --dk_blue: #555588;

  /* Color 2: Medium blue */
  --mid_blue: #4E7CE0;
  --mid_blue_border: #333BE6;
  --mid_blue_hover: #7796D9;
  --mid_blue_active: #7796D9;

  /* Color 3: Light blue */
  /* Uses same color as btn-info */

  /* Color 4: Dark blue used for auto-dictionary markdown and feature summary */
  --markdown_blue: #082E6B;

  /* Color 5: Orange (accent color) */
  --orange: #ED872D;
  --orange_border: #F06810;
  --orange_hover: #DE7F2C;
  --orange_hover_border: #DC600C;
}
