/* Formatting for text and other elements */

/* Body: padding on top responds to media width. When the window is smaller than
   a 'medium' bootstrap window (width <768px), the navbar becomes vertical, causing
   the navbar tabs and icons to appear on top of content. For now, this will be
   fixed by increasing the margin of the page body, but a solution that responds
   to the new height of the navbar would be ideal. */
@media (max-width:768px){
  body{
    padding-top: 220px;
  }
}
@media (min-width: 769px){
  body{
    padding-top: 60px;
  }
}

/* Adjust margins of headers */
h2, h3 {
  margin-top: 10px !important;
  margin-bottom: 5px !important;
}

/* Text CSS Classes */
/* Center Header Tags */
.center{
  text-align: center;
  /* Display must be set to block for centering to work */
  display: block;
}

/* Small font */
.small {
  font-size: 0.85em;
}

/* Large font*/
.large {
  font-size: 1.17em;
}

/* Extra-large font */
.x-large{
  font-size: 1.3em;
}

/* Spacing before element */
.space-top{
  margin-top: 0.5em;
}

/* Spacing after element */
.half-space-bottom{
  margin-bottom: 0.5em;
}

.single-space-bottom{
  margin-bottom: 1.0em;
}

.inline-block{
  display: inline-block;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

/* Two-column panel */
.two_column {
	width: 50%;
	display: inline-block;
	/* Add padding to sides of columns */
	padding: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
}

/* Add to two-column classes to automatically align left and right*/
.float_left {
	/* Use this class for the left column */
  float: left;
}

.float_right {
	/* Use this class for the right column */
  float: right;
}

/* Shiny input containers within a container with this class will have no margin */
.input-no-margin > .shiny-input-container {
  margin: 0px;
}

/* Selector to remove margins from elements within selectize forms */
.input-no-margin > .shiny-input-container > div > .selectize-control{
    margin: 0px;
}

/* inline-containers: sets all containers inside element to inline display */
.inline-containers > .shiny-input-container {
  display: inline-block;
}

.align-containers-top > .shiny-input-container {
  vertical-align: top;
}

/* Set height of group name text box for consistency with the group metadata to the right */
#options_group_name {
  height: 34px;
}
