/* CSS for multiple selection */
.multi-options-container{
  background-color: #CCCCCC;
  margin: 0px -2px;
  padding: 10px 7px;
  border-radius: 10px;
}

/* Reset Button for Individual Entry */
[id *= "multi_entry_reset"]{
  display: inline-block;
  border-radius: 50%;
  padding: 0px;
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

/* Update button; reset button for all entries */
.multi-update,
.multi-reset-all {
  font-size: 0.9em;
  padding: 5px 7px;
}

.custom-multi-text-container {
  display: inline-block;
  width: 78%;
  margin-bottom: 10px;
}

/* Remove margin of input container one level down */
.custom-multi-text-container > div {
  margin-bottom: 0px;
}
