/* New CSS Testing*/
/* Copy below CSS to separate document when functional */
/* Waiter (spinner) overlay */
.waiter-overlay{
/* Default z-index is 99,999, which displays over the
help menu (z-index of 1000) */
z-index: 999;
}

/* hidden_button class */
.hidden-button{
  display: none;
}

/* Subset summary in plots panel */
#plots_subset_stats {
  margin-bottom: 1em;
}

/* CSS properties for DGE cells by class output */
/* Responds to class selector of parent container (ensures format applies if
   the output ID is changed or moved to a different module) */
/* Consider generalizing to all verbatimtextoutput (<pre>) elements*/
.n_by_class_style > pre {
  width: 50%;
  background-color: #FFFFFF;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  border: none;
  margin: 0em 2em;
  padding: 0em;
}

/* Center table in DGE tab */
#dge-table {
  margin-left: auto;
  margin-right: auto;
}

/* Correlations tab UI: remove margin from bottom of
group by dropdown menu */
#corr_scatter_group_by{
  margin-bottom: 0em;
}
