/******************************************************************************/
/* CSS for Primary Button */
.button-primary{
  background-color: var(--mid-blue);
  color: #FFFFFF;
  border-color: var(--markdown-blue);
  border-radius: var(--button-border-radius);
}

.button-primary:hover{
  background-color: var(--mid-blue-hover);
  color: #FFFFFF;
}

.button-primary:active{
  background-color: var(--mid-blue-active);
  color: #FFFFFF;
}

/******************************************************************************/
/* Secondary (ghost) button */
.button-ghost{
  background-color: #FFFFFF;
  color: #000000;
  border-color: #000000;
  border-radius: var(--button-border-radius);
}

.button-ghost:hover{
  border-color: #333333;
  background-color: #E8E8E8
}

.button-ghost:active{
  border-color: #444444;
  background-color: #E1E1E1
}

/******************************************************************************/
/* Icon Buttons */
/* For buttons that consist solely of a fontawesome icon */
.icon-button {
  background-color: transparent;
  border: none;
}

.icon-button > i {
  color: #000000;
}

/* Hover and active classes: apply to the icon "inside" the button, not the
   button itself */
.icon-button:hover > i {
  color: var(--mid-blue);
}

.icon-button:active > i {
  color: var(--mid-blue-active);
  /* Rectangular border of icon is highlighted by default when active:
     this is disabled here so only the icon itself is highlighted */
  border: none;
}

/* Turn off highlight on button window when active (only icon responds) */
.icon-button:active {
  box-shadow: none
}

.icon-button:active:focus {
  outline: none
}

/******************************************************************************/
/* Additional classes applied to buttons*/
/* Compact button: decreases margins for better fit */
.compact-button{
  padding: 5px 7px;
}

/* Adds extra space to sides of buttons */
button.extra-space {
  padding-left: 20px;
  padding-right: 20px;
}

/* Vertical buttons: applied to division element containing buttons. Makes the
   buttons display vertically and centered, instead of displaying inline */
.vertical-button-group button {
  /* Uses block display instead of inline for vertical arrangement */
  display: block;
  /* centers the buttons */
  margin-left: auto;
  margin-right: auto;
  /* Adds space between buttons */
  margin-bottom: 10px;
  margin-top: 10px;
}

/******************************************************************************/
/* Buttons on top of plot outputs */
/* The class below should be applied to a div element that contains both the
   plotOutput container and the buttons to be placed above the plot */
.plot-with-buttons {
  position: relative;
  top: 0;
  left: 0;
}

/* Plot output container */
/* The position property of the plotOutput container is set to relative to
   allow for overlay of the buttons. */
 .plot-with-buttons > .shiny-plot-output {
   position: relative;
   left: 0;
   top: 0;

 }

 /* Round upper left and upper right corners of plot (for visual consistency
    with the plot options panel beneath the plot) */
 /* Space between selectors: selects all img elements that are descendents of
    an element with .plot-with-buttons, regardless of position in the
    hierarchy (as opposed to >, which will only select direct descendents) */
 .plot-with-buttons img {
   border-radius: 8px 8px 0px 0px;
 }

/* For each button over the plot, position is set to absolute to display over
   plot. For each button, values for either top or bottom, and either left or
   right, must be set using the `style` argument of actionButton to position
   each button in the desired location. */
   .plot-button {
     position: absolute;
   }

/* Alternately, buttons can be placed in a container with class
   .plot-button-panel, which will create a horizontal panel of buttons at
   the bottom of the plot. */
 .plot-button-panel {
   position: relative;
   width: inherit;
   height: 25px;
   /* Rounds the bottom corners but not the top corners for visual
      continuity with plot window */
   border-radius: 0px 0px 8px 8px;
   background-color: #BBBBBB55;
   /* Padding on left and right adds additional space to buttons at the end of
      the panel */
   padding: 0px 5px;
   margin-bottom: 10px;
 }

/* This class is intended for a button in a .plot-button-panel continer created
   using shinyWidgets::dropDownButton */
.plot-dropDownButton{
  /* Default position for dropDownButton is absolute. This is not desired since
     the buttons look best when placed automatically */
  position: relative;
  /* Buttons will appear from right to left */
  float: right;
  outline: none;
  /* Vertically centers buttons in panel and adds space between buttons*/
  margin: 2.5px 5px;
}

/******************************************************************************/

/* CSS for styling the help button and its dropdown menu*/
#help {
  z-index: 1200; /* Navbar has a z-index of 1,000 */
  position: absolute;
}

/* CSS for options button (ellipsis symbol) */
#options {
  z-index: 1200; /* Navbar has a z-index of 1,000 */
  position: absolute;
  background-color: #ED872D;
  color: #FFFFFF;
  border-color: #F06810;
}

/* Hover style for options button */
#options:hover {
  background-color: #DE7F2C;
  border-color: #DC600C;
}

/* CSS for division elements that contain the help and options button */
/* Explicit specification of width and height to match the dimensions of the
   button inside (35 px, set by shiny for a size = "sm" dropDownButton) */
.btn-container {
  width: 35px;
  height: 35px;
}

/* Help dropdown */
#dropdown-menu-help {
  z-index: 1201;
  top: 50px;
  font-size: 1.17em;
  /* Define a minimum width for the help dropdown menu to improve visuals */
  min-width: 220px;
}

#dropdown-menu-options {
  z-index: 1201;
  top: 50px;
  font-size: 1.17em;
  /* Define a minimum width for the help dropdown menu to improve visuals */
  min-width: 220px;
}

/* CSS properties for links. These are default for links in the dropdown menu
   that are not wrapped in the introBox()*/
/* (Default styles apply to the hierarchy dropdown-menu>li>a, but not to
   dropdown-menu>li>div>a (introBox adds div tag))*/
/* The blue_hover class must be added to apply style of neighboring links to
   links wrapped in introBox() */
.blue_hover {
	display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
  }

/* Style for hovering over links */
/* For links not wrapped in a help box, the default CSS for
   dropdown-menu>li>div>a will override blue_hover.*/
/* !Important ensures that the non-default properties below are applied. */
.blue_hover:hover{
	background-color: #31B0D5AA !important;
	border-radius: 7px !important;
	/* text-decoration defaults to none (no underline) for dropdown
     links outside the introBox()*/
	text-decoration: none;
}

/* CSS that applies when link is clicked*/
/* Must specify to override default color and text decoration properties*/
/* CSS below restores properties to the "normal" state */
.blue_hover:focus{
	color: #333;
	text-decoration: none;
}

/* Orange_hover: for choices under the elipsis button */
.orange_hover {
	display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
  }

.orange_hover:hover{
	background-color: #EC872D !important;
  color: #FFFFFF !important;
	border-radius: 7px !important;
	/* text-decoration defaults to none (no underline) for dropdown
     links outside the introBox()*/
	text-decoration: none;
}

.orange_hover:focus{
	color: #333;
	text-decoration: none;
}

/******************************************************************************/
/* Download Button for Plots */
/* Use selectors to apply styles below to dropDownButton wrapped in div with
   .plot-download-button class*/
.plot-download-button > div > button {
  width: 80px !important;
  border-radius: 15px !important;
  background-color: var(--mid-blue) !important;
  border-color: #333BE6 !important;
}

.plot-download-button > div > button:hover {
  background-color: var(--mid-blue-hover) !important;
}

.plot-download-button > div > button.btn:active {
  background-color: var(--mid-blue-active) !important;
}
