/* Sidebar Scrolling properties */
.col-sm-4{
    overflow-y: auto;
	}

/* Height of sidebar */
/* set the height equal to the app body in desktop screens */
/* (width > 768px) */
@media (min-width: 768px){
  .col-sm-4 {
			/* Height set using a CSS variable set by the JavaScript at 
	   ../js/Responsive_header.js */
    height: var(--body-height);
  }
}

/* On mobile, the height is unset */
/* The sidebar will display on top of the main panel in this case*/

/* Main Window */
.col-sm-8{
	overflow-y: auto;
	overflow-x: auto;
	}

/* set the height equal to the app body in desktop screens */
/* (width > 768px) */
@media (min-width: 768px){
  .col-sm-8 {
			/* Height set using a CSS variable set by the JavaScript at 
	   ../js/Responsive_header.js */
    height: var(--body-height);
  }
}

/* Loading Spinner Containers for Main Window*/
.spinner-container-main{
	height: var(--body-height);
}

/* Stack Overflow Style Scrollbar (applies to the main window and the sidebar
of the main app, and the columns in the config app) */
::-webkit-scrollbar{
	width: 10px;
	height: 10px;
	/* Sets color of scrollbar background and rounds edges */
	background-color: #AAAAAA44;
	border-radius: 5px;
	}

::-webkit-scrollbar-corner{
	background-color: transparent;
	border-color: transparent;
	}

/* Scrollbar thumb properties (shows current position) */
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: #888888;
	}

::-webkit-scrollbar-track{
	border-radius: 10px;
	background-color: transparent;
	}
