/* Sidebar Scrolling properties */
.col-sm-4{
    overflow-y: auto;
	/* Height set using a CSS variable set by the JavaScript at 
	   ../js/Responsive_header.js */
	max-height: var(--body-height);
	}

/* Main Window */
.col-sm-8{
	overflow-y: auto;
	overflow-x: auto;
	/* Height set using a CSS variable set by the JavaScript at 
	   ../js/Responsive_header.js */
	max-height: var(--body-height);
	}

/* Loading Spinner Containers for Main Window*/
.spinner-container-main{
	height: var(--body-height);
}

/* Stack Overflow Style Scrollbar (applies to the main window and the sidebar
of the main app, and the columns in the config app) */
::-webkit-scrollbar{
	width: 10px;
	height: 10px;
	/* Sets color of scrollbar background and rounds edges */
	background-color: #AAAAAA44;
	border-radius: 5px;
	}

::-webkit-scrollbar-corner{
	background-color: transparent;
	border-color: transparent;
	}

/* Scrollbar thumb properties (shows current position) */
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: #888888;
	}

::-webkit-scrollbar-track{
	border-radius: 10px;
	background-color: transparent;
	}
